body{
    background-color: white;
    width: 100%;
    margin: 0px;
}

header{
    background-color:tomato;
    color: cornsilk;
    text-align: center;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-transform: uppercase;
    margin: 0px;
}

p{
    margin: 0px;
    font-weight: bolder;
    font-size: larger;
}

nav{
    background-color: tomato;
    text-transform: uppercase;
    margin-top: 1rem;
}

ul{
    padding: 1em;
    text-align: center;
}

li{
    list-style-type: none;
    padding: 2em;
    margin: 3px;
    border-radius: 15cm;
    display: inline-block;
}

a:link, a:visited{
    background-color: whitesmoke;
    color: sienna;
    border-radius: 5px;
    padding: 2px;
    text-decoration: none;
}

a:hover{
    background-color: sienna;
    color: whitesmoke;
}

.image_sizes{
    width: 12rem;
    height: 10rem;
    margin: 1rem;
}

footer{
    clear: both;
    text-align: center;
    text-transform: capitalize;
    background-color: tomato;
    color: cornsilk;
}

#table_menu{
    background-color: wheat;
    width: 50%;
}

table{
    width: 100%;
    border: 2px;
}

th, td{
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: tomato;
}

.chef_sizes{
    width: 12rem;
    height: 10rem;
    margin: 1rem;
}

.contact{
    width: 70%;
    height: 350px;
    background-color: tomato;
    margin: 1rem 9rem;
    padding: 1rem;
    text-align: center;
}

.text{
    margin: 0.5rem;
}

label{
    text-align: left;
}

.btn{
    margin: 0.5rem;
}

.home{
    background-image: ;
}

.menu_images{
    text-align: center;
}